<h2>[% node.title %]</h2>

[% node.content %]

[% IF node.has_children %]
<ul>
[% FOREACH child IN node.sorted_children %]
  <li><a href="[% node.relative_root%][% child.url %]">[% child.title %]</a></li>
[% END %]
</ul>
[% END %]

