<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" xml:lang="[% node.language || blio.language %]"/>
    <title>[%- INCLUDE snippet/html_title.tt -%]</title>
    [% IF node.feed %]
    <link href="[% base %][% node.feed_url %]" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
    [% END %]
  </head>

  <body>
[% content %]
  </body>
</html>
